<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-center">Login</h1>
            </div>
            <div class="modal-body">
                <form class="form center-block">
                    <input type="hidden" value="login" name="method"/>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Login" id="user" name="user" ng-model="user.user">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" placeholder="Password" id="pwd" name="pwd" ng-model="user.pwd">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" ng-click="submitForm(user)">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
